{% extends layout %}

{% block content %}
  <main class="contenido-principal">
    <!-- Título de la sección -->
    <div class="titulo-seccion">
      <h2 class="titulo-pagina">Bienvenido {{ user }} {{ name }}</h2>
      <p class="subtitulo-pagina">Apreciados Instructores, este espacio virtual ha sido creado para facilitar los procesos que permanentemente llevamos a cabo en la Coordinación de Administración Educativa del Centro Agropecuario de la Regional Cauca, aprovechando las potencialidades que nos ofrecen hoy en día las Tecnologías de la Información y Comunicación TIC.s</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/UdZFTpIqmcs?si=p96uWaYvQHspkwBy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </main>
{% endblock %}
