{% comment %} Este layout es del administrador {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Configuración básica del documento -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>

    <!-- Hoja de css principal -->
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}" />
    <link rel="stylesheet" href="{% static 'css/crearficha.css' %}">
    <link rel="stylesheet" href="{% static 'css/formulariosolicitud.css' %}">
    <link rel="stylesheet" href="{% static 'css/index-styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/consultarsolicitudes.css' %}">

    {% comment %} <script src="{% static 'js/filtradorregular.js' %}"></script> {% endcomment %}

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static "img/logoSena.png" %}" />
  </head>
  <body>
    <!-- Contenedor principal de la aplicación -->
    <div class="contenedor-principal">
      <!-- Encabezado con navegación -->
      <header class="encabezado">
        <!-- Titulo -->
        <div class="titulo-encabezado">
          <h1 class="titulo-principal">Portal Preinscripción  al curso</h1>
        </div>

      </header>

      {% block content %}

      {% endblock %}
    </div>
    <!-- Pie de página -->
    <footer class="pie-pagina">
      <p class="texto-pie">&copy; 2025 SENA - Servicio Nacional de Aprendizaje</p>
    </footer>
  </body>
</html>
