{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Configuración básica del documento -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>

    <!-- Hoja de css principal -->
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}" />
    <link rel="stylesheet" href="{% static 'css/crearficha.css' %}" />
    <link rel="stylesheet" href="{% static 'css/formulariosolicitud.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index-styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/consultarsolicitudes.css' %}" />

    <!-- Favicon -->
    {% comment %} <link rel="icon" type="image/png" href="Assets/img/sena_logo.png" /> {% endcomment %}
  </head>
  <body>
    <!-- Contenedor principal de la aplicación -->
    <div class="contenedor-principal">
      <!-- Encabezado con navegación -->
      <header class="encabezado">
        <!-- Titulo -->
        <div class="titulo-encabezado">
          <h1 class="titulo-principal">Portal del {{ user }}</h1>
        </div>

        <!-- Barra de navegación -->
        <nav class="barra-navegacion">
          <ul class="menu-navegacion">
            <!-- Opción Noticias (activa) -->
            <li class="elemento-menu">
              <a href="#" class="enlace-menu">Inicio</a>
            </li>
            
              <!-- Opción Crear Ficha -->
              <li class="elemento-menu">
                <a href="{% url "Crearsolicitud" %}" class="enlace-menu active">Crear Solicitud</a>
              </li>
            <!-- Opción Estado de Cursos -->
            <li class="elemento-menu">
              <a href="{% url "consultas_instructor" %}" class="enlace-menu">Consultar Solicitudes</a>
            </li>

            <!-- Botón Cerrar Sesión -->
            <li class="elemento-menu">
              <a href="{% url 'index' %}" class="boton-cerrar-sesion">Cerrar Sesión</a>
            </li>
          </ul>
        </nav>
      </header>

      {% block content %}

      {% endblock %}
    </div>
    <!-- Pie de página -->
    <footer class="pie-pagina">
      <p class="texto-pie">&copy; 2025 SENA - Servicio Nacional de Aprendizaje</p>
    </footer>
  </body>
</html>
