{% comment %}Este layout es del administrador{% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Configuración básica del documento -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>

    <!-- Hoja de css principal -->
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}" />
    <link rel="stylesheet" href="{% static 'css/crearficha.css' %}" />
    <link rel="stylesheet" href="{% static 'css/formulariosolicitud.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index-styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/consultarsolicitudes.css' %}" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'img/logoSena.png' %}" />
  </head>
  <body>
    <!-- Contenedor principal de la aplicación -->
    <div class="contenedor-principal">
      <!-- Encabezado con navegación -->
      <header class="encabezado">
        <!-- Titulo -->
        <div class="titulo-encabezado">
          <h1 class="titulo-principal">Portal del administrador</h1>
        </div>

        <!-- Barra de navegación -->
        <nav class="barra-navegacion">
          <ul class="menu-navegacion">
            <!-- Opción Noticias (activa) -->
            <li class="elemento-menu">
              <a href="#" class="enlace-menu">Inicio</a>
            </li>

            <!-- Opción Crear Ficha -->
            <li class="elemento-menu">
              <a href="{% url 'Crearsolicitud' %}" class="enlace-menu active">Crear Solicitud</a>
            </li>

            <!-- Opción Estado de Cursos -->
            <li class="elemento-menu">
              <a href="{% url 'consultas_instructor' %}" class="enlace-menu">Consultar Solicitudes</a>
            </li>

            {% comment %} <!-- Opcion estado de fichas -->
            <li class="elemento-menu">
              <a href="#" class="enlace-menu">Consultar Fichas</a>
            </li> {% endcomment %}

            <!-- Opcion estado de fichas -->
            <li class="elemento-menu">
              <a href="{% url 'verificacion_usuario'%}" class="enlace-menu">Verificar usuario</a>
            </li>

            <!-- Botón Cerrar Sesión -->
            <li class="elemento-menu">
              <a href="{% url 'salir' %}" class="boton-cerrar-sesion">Cerrar Sesión</a>
            </li>
          </ul>
        </nav>
      </header>

      {% if messages %}
        <div class="alertas">
          {% for message in messages %}
            <div class="alert {% if 'error' in message.tags %}alert-error{% else %}alert-success{% endif %}">
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {% block content %}

      {% endblock %}
    </div>
    <!-- Pie de página -->
    <footer class="pie-pagina">
      <p class="texto-pie">&copy; 2025 SENA - Servicio Nacional de Aprendizaje</p>
    </footer>
  </body>
</html>
