{% extends 'layout/layoutinstructor.html' %}

{% block content %}

<div class="seccion-formulario">

    <h3 class="titulo-seccion-form">🔔 Mis Notificaciones</h3>

        <!-- BLOQUE DE MENSAJES -->
    {% if messages %}
    <div class="mensajes">
        {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}
            danger
    {% else %}
            {{ message.tags }}
            {% endif %}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    <p>Bienvenido/a: <strong>{{ nombre_usuario }}</strong></p>

    <div class="formulario-ficha">
        <p>
            Tienes <strong>{{ total_notificaciones }}</strong> notificación(es)
        </p>
    </div>

    {% if notificaciones %}

        <div class="formulario-ficha">
            <h4>Cursos Asignados</h4>

            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Fecha de asignación</th>
                        <th>Coordinador</th>
                        <th>Detalles del curso</th>
                        <th>Confirmar visualización</th>
                    </tr>
                </thead>
                <tbody>
                    {% for notif in notificaciones %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ notif.fecha_asignacion }}</td>
                        <td>
                            {{ notif.coordinador_nombre }}
                        </td>
                        <td>
                            {{notif.detalles_curso}}
                        </td>
                        <td>
                            <form method="post" action="{% url 'marcar_notificacion_vista' notif.id_asignacion %}">
                                {% csrf_token %}
                                <button type="submit" class="boton-visto">✔</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}

        <div class="formulario-ficha">
            <p>No tienes notificaciones pendientes.</p>
        </div>

    {% endif %}

</div>

{% endblock %}
